<div>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Last Name</td>
                <td>E-mail</td>
                <td>Gender</td>
            </tr>
        </thead>
        <tbody>
            {{#each docs}}
                <tr>
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.gender}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div>
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Previous</a>
        {{/if}}

        {{#if hasNextPage}}
        <a href="{{nextLink}}">Next</a>
        {{/if}}

    </div>
</div>